@import "../variables.scss";

.furniture-gallery {
  &-title {
    color: $main-color;
    padding-bottom: 13px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1.5px solid #e2e2e2;
    }
    &::after {
      content: "";
      position: absolute;
      width: 44px;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1.5px solid $main-color;
    }
  }
  &-tabs-link  {
    color: $secondary-color !important;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 16px;
    &.nav-link.active  {
      color: $main-color !important;
      background-color: #f4f5f7;
      &::after  {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        border: 1.5px solid $main-color;
      }
    }
  }
  &-tab-content  {
    background-color: #f4f5f7;
  }
  &-slider  {
    height: 409px;
    width: 451px;
    &-controls {
      height: 88px;
    }
    &-control {
      font-size: 12px;
      &:hover  {
        color: $main-color;
      }
    }
    &-prev {
      height: 70px;
      width: 33px;
      background-color: $secondary-color;
      opacity: 1;
      &:hover  {
        color: $main-color;
      }
    }
    &-next {
      height: 70px;
      width: 33px;
      background-color: $secondary-color;
      opacity: 1;
      &:hover  {
        color: $main-color;
      }
    }
    &-indicators {
      height: 70px;
      width: 370px;
      align-items: center;
      margin: 0 auto;
    }
    &-indicator  {
      min-width: 70px !important;
      max-width: 70px !important;
      height: 70px !important;
      background-color: #cccccc !important;
      border: none !important;
      opacity: 0.6 !important;
      margin-right: 2px  !important;
      margin-left: 2px  !important;
      text-indent: 0px !important;

    }
  }
  &-slide  {
    height: 409px;
    width: 451px;
    &-menu  {
      width: 37px;
      margin-top: 137px;
      &-item  {
        height: 37px;
        width: 37px;
        border-radius: 0;
        color: $secondary-color;
        border-color: $secondary-color !important;
        text-decoration: none !important;
        &:hover  {
          color: $main-color;
          border-color: $main-color !important;
        }
      }
    }
    &-img  {
      height: 328px;
      width: 388px;
    }
    &-info  {
      right: 58px;
      bottom: 25px;
    }
    &-text  {
      position: relative;
      padding: 32px;
      right: 0;
      height: 106px;
      width: 249px;
      max-width: 249px;
      box-shadow: 0 2px 5px rgba(1, 2, 2, 0.3);
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-left: 15px solid $secondary-color;
        border-top: 15px solid $secondary-color;
      }
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-right: 15px solid $secondary-color;
        border-bottom: 15px solid $secondary-color;
      }
    }
    &-title  {
      color: $secondary-color;
      font-weight: 600;
    }
    &-price  {
      height: 106px;
      width: 106px;
      top: 0;
      left: -78px;
      background-color: #7b7c7c;
      &-new  {
        font-weight: 600;
      }
      &-last  {
        font-weight: 400 !important;
      }
    }
  }

  &-banner  {
    background-color: #e8edf7;
    padding-bottom: 30px;
    &-text  {
      font-weight: 600;
    }
    &-price  {
      font-size: 44px;
      color: #79ae30;
      &-descr  {
        font-size: 18px;
      }
    }
    &-title  {
      color: $main-color;
      font-size: 48px;
    }
    &-btn  {
      background-color: #79ae30;
      font-size: 14px;
      font-weight: 600;
    }
    &-img  {
      height: 284px;
      width: 467px;
    }
  }
}

.active-indicator0, .active-indicator1, .active-indicator2, .active-indicator3 {
  opacity: 1 !important;
  display: flex;
}
.not-active-indicator0, .not-active-indicator1, .not-active-indicator2, .not-active-indicator3 {
  display: none !important;
}