@import "../variables.scss";


@media (min-width: $breakpoint-tablet) {
  .stock-first {
    &-text {
      position: absolute;
      bottom: 20px;
      left: 20px;

      & h3 {
        font-size: 36px;
      }
      & h2 {
        font-size: 50px;
      }
      & p {
        display: inline-block;
        font-size: 50px;
        padding: 12px;
        border: 5px solid white;
        margin-top: 10px;
      }
    }
  }


  .stock-second {
    height: 195px;

    & .stock-second-picture1 {
      height: 195px;
    }

    & .stock-second-picture2 {
      height: 195px;
      left: 12px;
    }

    & h3 {
      font-size: 30px;
    }

    & p {
      font-size: 20px;
    }

    & .price {
      font-size: 36px;
    }
  }

  .stock-third {
    height: 195px;

    & .stock-third-picture1 {
      height: 200px;
    }

    & h3 {
      font-size: 24px;
    }

    & p {
      font-size: 14px;
    }
  }
}

